<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>已借书籍</title>
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<script src="../../layuiadmin/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../layuiadmin/js/getCookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../layuiadmin/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../layuiadmin/js/Tools.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-card" style="padding: 10px 20px 20px 20px;margin-top: 20px;">
				<div class="layui-form" style="margin-top: 30px;">
					<div class="layui-form-item">
						<table class="layui-table" id="table" lay-filter="table"></table>
						<script type="text/html" id="status">
							{{#if(d.status=='B'){}}
								正在借出
							{{#}else if(d.status=='A'){}}
								申请归还
							{{#}else if(d.status=='R'){}}
								已归还
							{{#}else if(d.status=='S'){}}
								申请丢失
							{{#}else if(d.status=='L'){}}
								已丢失且已缴清费用
							{{#}else if(d.status=='RN'){}}
								还书申请失败
							{{#}else if(d.status=='LN'){}}
								丢失申请失败
							{{#}}}
						</script>
						<script type="text/html" id="btns">
							{{#if(d.status=='B' || d.status=='RN' || d.status=='LN'){}}
								<div class="layui-btn layui-btn-xs" lay-event="gh">
									归还
								</div>
								<div class="layui-btn layui-btn-xs layui-btn-normal" lay-event="ds">
									丢失
								</div>
							{{#}else{}}
								<div class="layui-btn layui-btn-xs layui-btn-disabled">
									归还
								</div>
								<div class="layui-btn layui-btn-xs layui-btn-normal layui-btn-disabled">
									丢失
								</div>
							{{#}}}
						</script>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../layuiadmin/layui/layui.js"></script>
	<script>
		var vue = new Vue({
			data:{
				list:[],
				types:[]
			},
			created:function(){
				$.get("http://localhost:8088/book/press/",function(res){
					vue.list = res.data
				})
				$.get("http://localhost:8088/book/types/",function(res){
					vue.types = res.data
				})
			}
		})
		
		layui.use(['table'], function() {
			var table = layui.table;
			table.render({
				elem: '#table',
				url: 'http://localhost:8088/book/borrow/',
				where:{userId:par.userid},
				cols: [
					[{
						title: "序号",
						type: "numbers",
						align: "center"
					}, {
						field: "name",
						title: "书名"
					}, {
						field: "author",
						title: "作者",
						align: "center"
					}, {
						field: "type",
						title: "类别",
						align: "center",
						templet: d => {
							for (var i = 0; i < vue.types.length; i++) {
								if (d.type == vue.types[i].id) {
									return vue.types[i].typeName
								}
							}
							return "未知"
						}
					}, {
						field: "press",
						title: "出版社",
						align: "center",
						templet: d => {
							for (var i = 0; i < vue.list.length; i++) {
								if (d.press == vue.list[i].id) {
									return vue.list[i].name
								}
							}
							return "未知"
						}
					}, {
						field: "borrowTime",
						title: "借书日期",
						align: "center",
						sort: true
					}, {
						field: "returnTime",
						title: "还书日期",
						align: "center",
						sort: true
					}, {
						field: "status",
						title: "状态",
						align: "center",
						toolbar: "#status",
						sort: true
					}, {
						title: "操作",
						align: "center",
						toolbar: "#btns"
					}]
				],
				page: !0,
				limit: 10,
				limits: [10, 20, 30],
				text: {
					none: '暂无相关数据' //默认：无数据
				}
			});
			
			table.on('tool(table)', function(obj) {
				var data = obj.data;
				var layEvent = obj.event;
				if (layEvent == 'gh') {
					layer.confirm('是否申请归还一本：<br/>《'+data.name+'》', {
						btn: ['确认', '取消'] //按钮
					}, function(){
						$.post("http://localhost:8088/book/borrow/",{
							_method: "PUT",
							id : data.id,
							status : 'A'
						},function (res){
							layer.closeAll()
							layer.msg("已归还一本"+'《'+data.name+'》')
							table.reload('table')
						})
					});
				}else if (layEvent == 'ds') {
					layer.confirm('《'+data.name+'》单价为：'+data.price+'请缴纳费用', {
						btn: ['确认', '取消'] //按钮
					}, function(){
						$.post("http://localhost:8088/book/borrow/",{
							_method: "PUT",
							id : data.id,
							status : 'S'
						},function (res){
							layer.closeAll()
							layer.msg('已缴清费用')
							table.reload('table')
						})
					});
				}
			});
		});
	</script>
</html>
